.z-upload {
  background: #fff;
  border: 1px dashed #dcdee2;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-color 0.2s ease;
  padding-top: 35px;
  height: 180px;

  &::after {
    position: absolute;
    content: '点击此处上传';
    font-size: 20px;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    color: #3399ff;
  }

  .inputStyle {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    left: 0px;
    top: 0px;
  }
}